body{
    overflow-x: hidden;
}

.text-break {
    word-break: break-word; /* Quebra palavras longas para ajustar ao contêiner */
    overflow-wrap: break-word; /* Suporte adicional para quebra de palavras */
  }

.slide-container {
    width: 150%;
    height:85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(21, 21, 30);
}

.image-slider{
    width: 150%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slides-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(56, 56, 63);
    border-radius: 0px 0px 20px 0px;
    border-left: none;
    border-top: none;
    height: 90%;
}

.content{
    position: relative;
    width: 146px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    position: absolute;
    width: 240px;
    height: 90%;
    transition: 0.5s;
}

.open{
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s, opacity 0.5s;
    transition-delay: 0s, 0.5s;
}


/* ----------------------//------------------------------- */


#race1:target ~ .image-slider #contentOpen1,
#race1:target ~ .image-slider #button-1 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race2:target ~ .image-slider #contentOpen2,
#race2:target ~ .image-slider #button-2 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race3:target ~ .image-slider #contentOpen3,
#race3:target ~ .image-slider #button-3 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race4:target ~ .image-slider #contentOpen4,
#race4:target ~ .image-slider #button-4 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race5:target ~ .image-slider #contentOpen5,
#race5:target ~ .image-slider #button-5 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race6:target ~ .image-slider #contentOpen6,
#race6:target ~ .image-slider #button-6 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race7:target ~ .image-slider #contentOpen7,
#race7:target ~ .image-slider #button-7 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race8:target ~ .image-slider #contentOpen8,
#race8:target ~ .image-slider #button-8 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race9:target ~ .image-slider #contentOpen9,
#race9:target ~ .image-slider #button-9 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race10:target ~ .image-slider #contentOpen10,
#race10:target ~ .image-slider #button-10 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race11:target ~ .image-slider #contentOpen11,
#race11:target ~ .image-slider #button-11 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race12:target ~ .image-slider #contentOpen12,
#race12:target ~ .image-slider #button-12 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race13:target ~ .image-slider #contentOpen13,
#race13:target ~ .image-slider #button-13 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race14:target ~ .image-slider #contentOpen14,
#race14:target ~ .image-slider #button-14 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race15:target ~ .image-slider #contentOpen15,
#race15:target ~ .image-slider #button-15 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race16:target ~ .image-slider #contentOpen16,
#race16:target ~ .image-slider #button-16 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race17:target ~ .image-slider #contentOpen17,
#race17:target ~ .image-slider #button-17 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}

#race18:target ~ .image-slider #contentOpen18,
#race18:target ~ .image-slider #button-18 {
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    transition-delay: 0s, 0.7s;
    height: 80%;
    opacity: 1;
    width: 514px;
}




/* ----------------------//------------------------------- */


#race1:target ~ .image-slider #content1 h2,
#race1:target ~ .image-slider #content1 h4 {
    display: none;
}

#race2:target ~ .image-slider #content2 h2,
#race2:target ~ .image-slider #content2 h4 {
    display: none;
}

#race3:target ~ .image-slider #content3 h2,
#race3:target ~ .image-slider #content3 h4 {
    display: none;
}

#race4:target ~ .image-slider #content4 h2,
#race4:target ~ .image-slider #content4 h4 {
    display: none;
}

#race5:target ~ .image-slider #content5 h2,
#race5:target ~ .image-slider #content5 h4 {
    display: none;
}

#race6:target ~ .image-slider #content6 h2,
#race6:target ~ .image-slider #content6 h4 {
    display: none;
}

#race7:target ~ .image-slider #content7 h2,
#race7:target ~ .image-slider #content7 h4 {
    display: none;
}

#race8:target ~ .image-slider #content8 h2,
#race8:target ~ .image-slider #content8 h4 {
    display: none;
}

#race9:target ~ .image-slider #content9 h2,
#race9:target ~ .image-slider #content9 h4 {
    display: none;
}

#race10:target ~ .image-slider #content10 h2,
#race10:target ~ .image-slider #content10 h4 {
    display: none;
}

#race11:target ~ .image-slider #content11 h2,
#race11:target ~ .image-slider #content11 h4 {
    display: none;
}

#race12:target ~ .image-slider #content12 h2,
#race12:target ~ .image-slider #content12 h4 {
    display: none;
}

#race13:target ~ .image-slider #content13 h2,
#race13:target ~ .image-slider #content13 h4 {
    display: none;
}

#race14:target ~ .image-slider #content14 h2,
#race14:target ~ .image-slider #content14 h4 {
    display: none;
}

#race15:target ~ .image-slider #content15 h2,
#race15:target ~ .image-slider #content15 h4 {
    display: none;
}

#race16:target ~ .image-slider #content16 h2,
#race16:target ~ .image-slider #content16 h4 {
    display: none;
}

#race17:target ~ .image-slider #content17 h2,
#race17:target ~ .image-slider #content17 h4 {
    display: none;
}

#race18:target ~ .image-slider #content18 h2,
#race18:target ~ .image-slider #content18 h4 {
    display: none;
}


/* ----------------------//------------------------------- */


#race1:target ~ .image-slider {
    left: calc(50% + 1100px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race2:target ~ .image-slider {
    left: calc(50% + 950px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race3:target ~ .image-slider {
    left: calc(50% + 800px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race4:target ~ .image-slider {
    left: calc(50% + 650px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race5:target ~ .image-slider {
    left: calc(50% + 500px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race6:target ~ .image-slider {
    left: calc(50% + 350px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race7:target ~ .image-slider {
    left: calc(50% + 200px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race8:target ~ .image-slider {
    left: calc(50% + 50px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race9:target ~ .image-slider {
    left: calc(50% - 100px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race10:target ~ .image-slider {
    left: calc(50% - 250px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race11:target ~ .image-slider {
    left: calc(50% - 400px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race12:target ~ .image-slider {
    left: calc(50% - 550px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race13:target ~ .image-slider {
    left: calc(50% - 700px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race14:target ~ .image-slider {
    left: calc(50% - 850px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race15:target ~ .image-slider {
    left: calc(50% - 1000px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race16:target ~ .image-slider {
    left: calc(50% - 1100px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race17:target ~ .image-slider {
    left: calc(50% - 1100px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race18:target ~ .image-slider {
    left: calc(50% - 1100px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}


/* ----------------------//------------------------------- */

@media (max-width: 760px) {
    .content{
        width: 120px;
    }

    .button {
        width: 220px;
        height: 90%;
    }

    
#race1:target ~ .image-slider #contentOpen1,
#race1:target ~ .image-slider #button-1 {
 
    width: 280px;
}

#race2:target ~ .image-slider #contentOpen2,
#race2:target ~ .image-slider #button-2 {
 
    width: 280px;
}

#race3:target ~ .image-slider #contentOpen3,
#race3:target ~ .image-slider #button-3 {
 
    width: 280px;
}

#race4:target ~ .image-slider #contentOpen4,
#race4:target ~ .image-slider #button-4 {
 
    width: 280px;
}

#race5:target ~ .image-slider #contentOpen5,
#race5:target ~ .image-slider #button-5 {
 
    width: 280px;
}

#race6:target ~ .image-slider #contentOpen6,
#race6:target ~ .image-slider #button-6 {
 
    width: 280px;
}

#race7:target ~ .image-slider #contentOpen7,
#race7:target ~ .image-slider #button-7 {
 
    width: 280px;
}

#race8:target ~ .image-slider #contentOpen8,
#race8:target ~ .image-slider #button-8 {
 
    width: 280px;
}

#race9:target ~ .image-slider #contentOpen9,
#race9:target ~ .image-slider #button-9 {
 
    width: 280px;
}

#race10:target ~ .image-slider #contentOpen10,
#race10:target ~ .image-slider #button-10 {
 
    width: 280px;
}

#race11:target ~ .image-slider #contentOpen11,
#race11:target ~ .image-slider #button-11 {
 
    width: 280px;
}

#race12:target ~ .image-slider #contentOpen12,
#race12:target ~ .image-slider #button-12 {
 
    width: 280px;
}

#race13:target ~ .image-slider #contentOpen13,
#race13:target ~ .image-slider #button-13 {
 
    width: 280px;
}

#race14:target ~ .image-slider #contentOpen14,
#race14:target ~ .image-slider #button-14 {
 
    width: 280px;
}

#race15:target ~ .image-slider #contentOpen15,
#race15:target ~ .image-slider #button-15 {
 
    width: 280px;
}

#race16:target ~ .image-slider #contentOpen16,
#race16:target ~ .image-slider #button-16 {
 
    width: 280px;
}

#race17:target ~ .image-slider #contentOpen17,
#race17:target ~ .image-slider #button-17 {
 
    width: 280px;
}

#race18:target ~ .image-slider #contentOpen18,
#race18:target ~ .image-slider #button-18 {
 
    width: 280px;
}
#race1:target ~ .image-slider {
    left: calc(50% + 1030px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race2:target ~ .image-slider {
    left: calc(50% + 910px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race3:target ~ .image-slider {
    left: calc(50% + 790.25px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race4:target ~ .image-slider {
    left: calc(50% + 670px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race5:target ~ .image-slider {
    left: calc(50% + 548px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race6:target ~ .image-slider {
    left: calc(50% + 425px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race7:target ~ .image-slider {
    left: calc(50% + 305px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race8:target ~ .image-slider {
    left: calc(50% + 182px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race9:target ~ .image-slider {
    left: calc(50% + 60px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race10:target ~ .image-slider {
    left: calc(50% - 60px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race11:target ~ .image-slider {
    left: calc(50% - 182px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race12:target ~ .image-slider {
    left: calc(50% - 305px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race13:target ~ .image-slider {
    left: calc(50% - 425px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race14:target ~ .image-slider {
    left: calc(50% - 547px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race15:target ~ .image-slider {
    left: calc(50% - 670px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race16:target ~ .image-slider {
    left: calc(50% - 790.25px);
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race17:target ~ .image-slider {
    left: calc(50% - 910.25px); /* Ajuste com base na sequência */
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

#race18:target ~ .image-slider {
    left: calc(50% - 1030px); /* Ajuste com base na sequência */
    transform: translate(-50%);
    transition: left 0.5s ease-out;
}

}