.triangulo-baixo{
 border-left: 10px solid white;
 border-right: 10px solid white;
 border-bottom: 10px solid currentColor;
 bottom: -12px;
 left: 100px;
}

.triangulo-baixo::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: currentColor; 
}

.w-calc100-62{
    width: calc(100% - 62px);
}
