
.imagem:hover + .text, .text:hover {
  border-color: var(--button-border-color);
  padding-bottom: 30px;
}

.text:hover ~ .imagem img, .imagem:hover img {
  transform: scale(1.1);
}

.newsContainer:hover img {
  transform: scale(1.1);
}

.max-w-screen-lg-30 {
  max-width: 1054px;
}

.sticky-sidebar {
  position: sticky;
  width: 100%;
  top: 130px;
}



@media (min-width: 1140px) {
  .bottom-fixed-sidebar {
    width: 556px;
    position: absolute;
    bottom: 28px;
  }
}

.dynamic-button {
  border: 2px solid;
  background-color: var(--button-bg-color);
  color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.dynamic-button:hover {
  background-color: #fff;
  color: var(--button-text-color);
  border-color: var(--button-border-color);
}
